<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Project32.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DDEB0DEC1BC5A80E009E0B90</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DDEB0E001BC5A80E009E0B90</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DDEB0E0B1BC5A80E009E0B90</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
